.navbar {
  position: fixed;
  left: 85vw;
  top: 2vh;
  display: flex;
  justify-content: center;
  direction: row-reverse;
  transition: all 1s ease-out;
}

.nav {
  transition: all 0.8s ease-out;
}
.navClosed {
  transform: translateX(40vw);
  transition: all 0.8s ease-out;
}

.link {
  margin-left: 1em;
  margin-right: 1em;
}

.burger {
  display: block;
  background-color: white;
  text-align: center;
  font-size: 1.6em;
  transform: rotate(180deg);
  transition: all 0.45s ease-out;
}

.burgerClosed {
  display: block;
  background-color: white;
  transition: all 0.25s ease-out;
  text-align: center;
  font-size: 1.6em;
}
